{
  "extends": "airbnb-base",
  "parser": "babel-eslint",
  "rules": {
    "object-curly-newline": ["error", { "multiline": true }],
    "import/extensions": "off",
    "class-methods-use-this": "off",
    "no-restricted-globals": "off",
    "no-underscore-dangle": "off",
    "no-restricted-syntax": "off",
    "no-undef": "off",
    "no-plusplus": "off"
  }
}
